<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381511550549-8648nmp60n3idt5sr8jtd4h7vsdfspds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381511550549-8648nmp60n3idt5sr8jtd4h7vsdfspds</string>
	<key>API_KEY</key>
	<string>AIzaSyADnN1m6sZR39axNPwq5QZPXIiJlOSDRIE</string>
	<key>GCM_SENDER_ID</key>
	<string>381511550549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.koka.impuls</string>
	<key>PROJECT_ID</key>
	<string>impuls-koka</string>
	<key>STORAGE_BUCKET</key>
	<string>impuls-koka.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381511550549:ios:d131a89ed5d60fafcc36dc</string>
	<key>DATABASE_URL</key>
	<string>https://impuls-koka.firebaseio.com</string>
</dict>
</plist>